body {
    font-family: Bai Jamjuree;
    background-color: bisque;
}
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    height:2.5rem;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0,5rem;
}